<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280692033654-m6308ml8geueqltgcccrat1j7gv44nr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280692033654-m6308ml8geueqltgcccrat1j7gv44nr8</string>
	<key>API_KEY</key>
	<string>AIzaSyBP4iMq60Uvl6o0ArPQihaUDcRsfu-k0L4</string>
	<key>GCM_SENDER_ID</key>
	<string>280692033654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chicguide.appchicguide.thailand</string>
	<key>PROJECT_ID</key>
	<string>chic-guide-thailand-59013</string>
	<key>STORAGE_BUCKET</key>
	<string>chic-guide-thailand-59013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280692033654:ios:a4321ed6f538c27862b757</string>
</dict>
</plist>